body{
    background-color:burlywood
}

.logo{
    max-width: 80px;
    display: block;
    /*margin: auto;*/
}

.navigation{
    text-align: center;
    background-color:blanchedalmond;
}
.header{
    background-color:rgb(153, 135, 95);
}
.navigation a {
    color:black;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.banner {
   /* vh = viewport height = window height */
    min-height: 50vh;
    background-image: url("images/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg");
    /*to fit image inside banner box, use background-size: contain; */
    background-size: cover;
    background-position: center center;
    
}

.main-header{
    display: flex;
    justify-content:space-between;
}
.banner h1{
    text-align: center;
    margin: 0px;
    padding: 25vh;
    color: black;
    font-size: 4em;
    text-shadow: 0px 0px 2px #333333;
}